<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Kamp 2025</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
</head>
<body class="index-page">
    <header id="header" class="header d-flex align-items-center light-background sticky-top">
        <div class="container d-flex justify-content-between align-items-center">
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active">Anasayfa</a></li>
                    <li><a asp-action="About">Hakkımızda</a></li>
                    <li><a asp-controller="Home" asp-action="Resume">Biz Kimiz</a></li>
                    <li><a asp-controller="Home" asp-action="Services">Hizmetlerimiz</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <div class="header-social-links">
                <a asp-controller="Account" asp-action="Login">Giriş Yap</a>
                <a asp-controller="Account" asp-action="Register">Kayıt Ol</a>
            </div>
        </div>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer id="footer" class="footer">
        <div class="container text-center">
            <p>© <span>Copyright</span> <strong class="sitename"><a href="#">ErayGündüz</a></strong>. Bütün Haklar Saklıdır.</p>
        </div>
    </footer>

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/typed.js/typed.umd.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
