@{
    ViewData["Title"] = "Anasayfa";
}

<section id="hero" class="hero section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="hero-content" data-aos="fade-up" data-aos-delay="200">
                    <h1>Merhaba Ben <span class="highlight"><br>Kamp 2025</span></h1>
                    <h2>Gençlik Kampı; 
                        <span class="typed" data-typed-items="Discord Toplantıları, Sanal Kamp Ateşi, Takım Oyunları, Yeni Arkadaşlıklar, Macera Dolu Anlar"></span>
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="400">
                        Gençlik Kampı, teknolojiyle iç içe, eğlenceli ve öğretici etkinliklerle dolu bir deneyim sunar.
                    </p>
                    <div class="hero-actions" data-aos="fade-up" data-aos-delay="500">
                        <a asp-controller="Home" asp-action="Resume" class="btn btn-primary">Bize Katıl</a>
                        <a asp-controller="Home" asp-action="Contact" class="btn btn-outline">Bilgi Al</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="hero-image" data-aos="zoom-in" data-aos-delay="300">
                    <div class="image-wrapper">
                        <img src="img/Kamp/11111.jpg" alt="Sarah Mitchell" class="img-fluid">
                        <div class="floating-elements">
                            <div class="floating-card design" data-aos="fade-left" data-aos-delay="900">
                                <i class="bi bi-shield-lock"></i>
                                <span>Birlik-Beraberlik</span>
                            </div>
                            <div class="floating-card code" data-aos="fade-right" data-aos-delay="800">
                                <i class="bi bi-quote"></i>
                                <span>Soru-Cevap</span>
                            </div>
                            <div class="floating-card creativity" data-aos="fade-up" data-aos-delay="900">
                                <i class="bi bi-plus"></i>
                                <span>Yardımlaşma</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>